.welcome-message {
  text-align: center;


  color: white;

  
}

.welcome-title {
  font-size: 100px;

  margin-bottom: -10px;
  font-weight: bold;
}

.welcome-description {
  margin-top: 0px;
  letter-spacing: 15px;
  
  font-size: 10px;
}

.profile-picture {
  display: flex;
  justify-content: center;
  
  margin-top: 1500px;

  
}

.user-pfp {
  display: flex;
  flex: 1;

  height: 200px;

  border-radius: 100px;
  border-width: 5 px;
  border-style: solid;
  border-color: rgba(119, 119, 119, 0.425);

  cursor: pointer;

  transition: all 0.2s;

}


.user-pfp:hover{
  transform: scale(1.2);

  border-radius: 100px;
  border-width: 5 px;
  border-style: solid;
  border-color: rgba(119, 119, 119, 0.425);
}

.user-about {
  background-color: rgba(119, 119, 119, 0.425);


  margin-top: -80px;

  height: 380px;
  
  display: flex;
  justify-content: center;
  text-align: center;
}


.user-info {
  line-height: 25px;

  padding-top: 85px;
  width: 580px;
}

.user-info-two {
  line-height: 25px;
  margin: 0;

  width: 600px;
}

.follow-text {
  letter-spacing: 10px;
  font-size: 10px;
}

.social-links {
  display: flex;
  justify-content: center;

  flex-direction: column;
  

  margin-top: 65px;
  
}

.social-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 45px;
  
  margin-top: 20px;
}

.discord{
  transform: scale(1.35);
}

.twitter {
  transform: scale(0.9);
}

.github {
  transform: scale(1.05);
}

.fb, .twitter, .spotify, .discord, .github{
  height: 20px;

  margin-left: 20px;
  margin-right: 20px;

  transition: all 0.25s;
}

.fb:hover, .twitter:hover, .spotify:hover, .discord:hover, .github:hover {
  transform: scale(1.5);

  opacity: 0.5;
}

.discord:hover {
  transform: scale(1.8);
}

.twitter:hover {
  transform: scale(1.4);
}


@media (max-width:700px) {
  .user-about {
   width: 700px;
  }
  
  .profile-picture {
    width: 700px;
  }
}
