@media (max-width:700px){

  nav ul {
    width: 100%;
    background-color:  rgb(57, 100, 150); 
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }

  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a{
    color: white;
  }


  .hamburger-menu {
    display: block;
  }

} 
